.food-box {
    width: 350px;
    padding: 20px;
    margin: 20px;
}

.food-box:hover{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75)
}

.need-transport{
    background-color: rgb(245, 205, 130);
}

.no-transport-needed{
    background-color: rgb(190, 245, 109);
}

.card-flex {
    display: flex;
    flex-direction: row;
}

.card-flex-item {
    width: 175px;
}

.card-title{
    font-size: 120%;
    font-weight: bold;
    padding-top: 25px;
}

.marker-img {
   padding-left:80px;
   padding-top:10px;
}