/**
narancs: #d68b31
vörös: #914539
szürkés: #50484d
zöld: #508c88
*/

body {
    background-color: #fff178; /*#ffeb3b*/
    font-family: "Baloo 2", Arial, Helvetica, sans-serif;
    color: #232323
}

.intro {
    grid-area: intro;
    font-size: 130%;
    text-align: justify;
    background-color: #72bb96; /* #74d0a1 #a6decc;*/
    
    border-radius: .5em;
    padding: 1.6em 3em 1.6em 3em;
}

img.fb-logo {
    width: .9em;
    height: auto;
}


.intro a {
    text-decoration: none;
    color: darkblue;
}

.intro a:visited {
    text-decoration: none;
    color: darkblue;
}

#main-grid {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-areas: 
    ". intro intro ."
    ". wts wts ."
    ". offerings donations ."
    ". offerings donations ."
    ". offerings donations .";
}

#want-to-support {
    grid-area: wts;
}

#tile-offerings {
    grid-area: offerings;
}

#tile-donations {
    grid-area: donations;
}


.offering-types {
    padding-inline-start: 0;
}

.offering-types li {
    padding: 3em 3em 3em 3em;
    border-radius: .5em;
    background-color: blue;
    color: white;
    margin: 10px;
    list-style-type: none;
    font-size: 160%;
}

.offering-types .restaurant {
    background-color: #914539
}

.offering-types .raw-material {
    background-color: #508c88
}

.offering-types .bakery {
    background-color: #d68b31
}

.offering-types .shipping {
    background-color: #50484d
}

.offering-types .wrapping {
    background-color: #5d7fbd;
}