.form-container {
    margin-top: 3rem;
    margin-left: 3rem;
}

.margin-top-1 {
    margin-top: 1rem;
}

.margin-top-2 {
    margin-top: 1.5rem;
}

.margin-top-3 {
    margin-top: 2rem;
}

.margin-1 {
    margin: 1rem;
}

.padding-bottom-15 {
    padding-bottom: 1.5rem;
}

.padding-15 {
    padding: 1.5rem;
}

.m-h {
    height: 210px;
}

  
  @media screen and (max-width: 900px) {
      body{
          padding: 10px;
      }
    input, textarea{
        margin-right:10px;
        width:70%;
    }
  }