.food-box {
    width: 400px;
    padding: 10px;
    margin: 20px;
}

.food-box:hover{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75)
}

.need-transport{
    border: 5px solid red;
}

.no-transport-needed{
    border: 5px solid green;
}