.offering-details {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin: 20px;
    padding: 20px;
}

.offer-title{
    font-weight: bold;
    margin-right: 20px;
    min-width: 380px;
}


