* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
hr{
 background-color:  black;
}

td {
  min-width: 200px;
}

.need-space{
  margin-top: 30px;
  margin-bottom: 70px;
}

.main-page-card:hover{
  -webkit-box-shadow: 3px 2px 20px 2px greenyellow; 
  box-shadow: 3px 2px 20px 2px greenyellow; 
}

@media screen and (min-width: 1200px) {
  .flex-row{
    display: flex;
    flex-direction: row;
  }
  .flex-item {
    width:400px;
    margin: 15px;
  }
}


@media screen and (max-width: 900px) {
  .desktop {
    display: none
}

  .flex-row{
    display: flex;
    flex-direction: column;
  }
  
  .flex-item {
    width:100%;
    margin: 15px;
  }
}

.want-to-support{
  font-size: larger;
  margin-top: 40px;
  margin-bottom:40px;
  font-weight: bold;
  text-align: center;
}


  @media screen and (min-width: 901px) {
    .mobile {
        display: none
    }
}